.bg-image-about-us,
.bg-image-young-stars {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-about-us {
  background-image: url("../../assets/images/ball-1010907_1920.jpg");
  background-position: center;
  padding: 12rem 0;
}

.bg-image-young-stars {
  background-color: #eff9fb;
  background-image: url(../../assets/images/science-2799817.jpg);
  background-position: top;
  padding: 0.25rem 2rem 25rem 2rem;
}
