.card-visit-us,
.card-pink {
  border: solid var(--color-tertiary);
}

.card-pink {
  padding: 2rem 2.75rem;
}

.card-orange {
  border: solid thin var(--color-secondary);
  margin: 1.5rem 0;
  padding: 1rem;
}
