.card-pink,
.card-orange {
  margin: 1.5rem 0;
  padding: 1rem;
}

.card-pink {
  border: solid var(--color-tertiary);
  max-width: 25rem;
  max-height: 40rem;
}

.card-orange {
  border: solid thin var(--color-secondary);
}
