nav,
#menu,
#search,
.search-field {
  display: none;
}

#menu:checked ~ nav {
  display: block;
}

#search:checked ~ .search-field {
  display: block;
}

header {
  background: linear-gradient(0.25turn, #fff, 70%, #0487d9);
}

.logo {
  width: 8rem;
  padding: 1rem;
}

.brand-name {
  font-family: var(--font-accent);
  border-style: solid none;
  border-color: #0487d9;
  border-width: thin;
  margin: 0;
  padding: 1rem 2rem;
  width: 100%;
}

nav,
.search-field {
  position: absolute;
}

.menu-items {
  gap: 1.5rem;
  padding: 1.5rem;
  font-family: var(--font-body-copy);
}

nav {
  background-color: var(--color-primary);
  top: 11rem;
  left: 0px;
  width: 100%;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav li {
  padding: 2rem;
}
