.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-item-1 {
  flex-grow: 1;
}

/*Grid layout*/

.responsive-grid {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
}

.grid-section,
.grid-form {
  display: grid;
  grid-gap: 1rem;
}

.grid-section {
  justify-items: center;
}

.grid-center {
  display: grid;
  justify-items: center;
}

.col-start-1 {
  grid-column: 1;
  justify-self: center;
}

.grid-gap {
  display: grid;
  grid-gap: 2rem;
}

.grid-display {
  display: grid;
}

.visit {
  display: grid;
  align-content: center;
}
