.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-item-1 {
  flex-grow: 1;
}

.flex-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/*Grid layout*/

.responsive-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
}

.col-start-1 {
  grid-column: 1;
  justify-self: center;
}
