@import url(reset.css);
@import url(variables.css);
@import url(header.css);
@import url(responsive_layout.css);
@import url(buttons.css);
@import url(footer.css);

main {
  margin: var(--margin-main-content);
}

p {
  font-family: var(--font-body-copy);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
  font-weight: 600;
}
