body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content-margin {
  margin: var(--margin-main-content);
}

.document-content-margin {
  margin: var(--margin-document-content);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
  font-weight: 600;
}

img {
  max-width: 100%;
}

.img-crop {
  height: clamp(10rem, 22rem, 24rem);
  width: clamp(16rem, 40rem, 45rem);
  object-fit: cover;
}

/*Text*/

p,
.ff-open-sans,
table,
address,
ul {
  font-family: var(--font-body-copy);
}

p,
a,
table,
address,
ul {
  font-size: clamp(1rem, 1.25vw, 2rem);
  line-height: clamp(1.5rem, 2rem, 2.5rem);
}

.ff-open-sans,
.heading-accent-big,
.ff-merriweather {
  font-size: clamp(1.75rem, 2.25vw, 4rem);
}

.heading-accent-small {
  font-size: clamp(1.5rem, 2.25vw, 3rem);
}

.ff-accent {
  font-family: var(--font-accent);
  font-weight: 400;
}

.ff-merriweather {
  font-family: var(--font-headings);
}

.ff-merriweather-small {
  font-family: var(--font-headings);
}

.ff-open-sans-italic {
  font-family: var(--font-body-copy);
  font-weight: 600;
}

.ff-merriweather-small,
.ff-open-sans-italic {
  font-style: italic;
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.bg-heading {
  background-color: var(--background-variation);
  padding: 2rem;
  width: 100%;
}

.italic {
  font-style: italic;
}
