body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content-margin {
  margin: var(--margin-main-content);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
  font-weight: 600;
}

img {
  max-width: 100%;
}

.img-crop {
  height: clamp(10rem, 22rem, 24rem);
  width: clamp(16rem, 40rem, 45rem);
  object-fit: cover;
}

/*Text*/

p {
  font-family: var(--font-body-copy);
  line-height: 1.5;
}

.ff-accent {
  font-family: var(--font-accent);
  font-weight: 400;
}

.bg-heading {
  background-color: var(--background-variation);
  padding: 2rem;
  width: 100%;
}
