:root {
  --color-primary: #0487d9;
  --color-primary-variation: #359ee0;
  --color-secondary: #f25029;
  --color-tertiary: #bb3896;
  --background-color: #fff;
  --background-variation: #cfc7b9;
  --background-variation-2: #efece6;
  --text-color: #000;
  --font-headings: "Merriweather", Georgia, Cambria, Cochin, Times,
    "Times New Roman", serif;
  --font-body-copy: "Open Sans", Arial, Helvetica, "Segoe UI", Tahoma, Geneva,
    Verdana, sans-serif;
  --font-accent: "Coming Soon", Arial, Helvetica, "Segoe UI", Tahoma, Geneva,
    Verdana, cursive, sans-serif;
  --margin-main-content: 2rem;
  --margin-document-content: 4rem;
}
