:root {
  --color-primary: #0487d9;
  --color-secondary: #f25029;
  --color-tertiary: #bb3896;
  --background-color: #fff;
  --background-variation: #cfc7b9;
  --text-color: #000;
  --margin-main-content: 0 2rem;
}
